<!DOCTYPE html>
<html>
<head>
	<title>Lightcoin</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body background="/static/images/backk.jpg">
	<a href="/" style="float: right;"><font size="6">Home</font></a>
	<h1><font color="pink">{{item['length']}} transactions committed </font></h1>
	{% for block in item['chain'] %}
	<font color="white"><ul>
		<font color="#90EE90" size="5"><li>Index: {{block['index']}}</li></font>
		<font color="#90EE90" size="5"><li>Timestamp: {{block['timestamp']}}</li></font>
		<font color="white" size="5">Transactions:</font>
		{% for transaction in block['transactions'] %}
			<font color="white" size="4"><ul>
			{% for key,value in transaction.items() %}
				<font color="00ffff" size="4"><li> {{key}} : {{value}}</li></font>
			{% endfor %}
			</ul>
			<br />
		{% endfor %}
		<font color="#90EE90" size="5"><li>Proof: {{block['proof']}}</li>
	</ul>
	<hr/>
	{% endfor %}
</body>
</html>